<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{default description config.meta.description}}">

<title>
    {{config.meta.title}} | {{default title page.basename}}
</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="{{relativeToRoot}}assets/external/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{relativeToRoot}}assets/external/bootstrap/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="{{relativeToRoot}}assets/css/theme.css" />
<link rel="stylesheet" href="{{relativeToRoot}}assets/css/customStyle.css" />
